# What is Web Scraping?
The process of extracting content and data from a website.

# Scraping HTML Tables with Pandas

In [3]:
import pandas as pd
import numpy as np

### If all you're interested in is some tables from a table, you don’t actually need to set up a whole scraper to do it because Pandas can do it for us. The `pandas.read_html()` function can be useful for quickly incorporating tables from various websites without figuring out how to scrape the site’s HTML.

In [4]:
tiktok = pd.read_html("https://en.wikipedia.org/wiki/List_of_most-followed_TikTok_accounts")
#  You just need to pass the URL of the page

### All you need to do now is to select the DataFrame you want from the list of tables. Since it was the first table on this page, it'll be index 0

In [5]:
tokDF = tiktok[0]
tokDF

,Rank,Username,Owner,Followers[8](millions),Likes[8](millions),Description,Country,Brand Account
0,1,@charlidamelio,Charli D'Amelio,113.9,9200,Dancer and social media personality,United States,—
1,2,@addisonre,Addison Rae,79.9,5100,Dancer and social media personality,United States,—
2,3,@bellapoarch,Bella Poarch,63.8,1400,Social media personality,United States,—
3,4,@zachking,Zach King,58.9,724,Filmmaker and social media personality,United States,—
4,5,@tiktok,TikTok,53,250,Social media platform,United States,NaN
5,6,@spencerx,Spencer Polanco Knight,52.7,1300,Beatboxer and social media personality,United States,—
6,7,@willsmith,Will Smith,52.6,315,Actor,United States,—
7,8,@lorengray,Loren Gray,52.1,2800,"Singer, dancer, and social media personality",United States,—
8,9,@dixiedamelio,Dixie D'Amelio,51.3,2900,Singer and social media personality,United States,—
9,10,@justmaiko,Michael Le,47.4,1300,Dancer and social media personality,United States,—
10,11,@jasonderulo,Jason Derulo,45,1000,"Singer, songwriter, and dancer",United States,—
11,12,@riyaz.14,Riyaz Aly,44.1,2100,Social media personality,India,—
12,13,@kimberly.loaiza,Kimberly Loaiza,41.3,2200,Singer and social media personality,Mexico,—
13,14,@brentrivera,Brent Rivera,37.9,1200,Actor and social media personality,United States,—
14,15,@cznburak,Burak Özdemir,37.4,691,Social media personality,Turkey,—
15,16,@jamescharles,James Charles,36.2,881,Social media personality,United States,—
16,17,@therock,The Rock,36.2,200,Actor and former wrestler,United States,—
17,18,@babyariel,Baby Ariel,35.3,1900,"Singer, actress, and social media personality",United States,—
18,19,@itsjojosiwa,JoJo Siwa,33.5,1100,"Singer, actress, dancer, and social media pers...",United States,—
19,20,@avani,Avani Gregg,33.4,2400,Social media personality,United States,—
20,21,@gilmhercroes,Gilmher Croes,32.9,803,Social media personality,Aruba,—
21,22,@khaby.lame,Khabane Lame,32.5,467,Social media personality,Italy,—
22,23,@mr_faisu_07,Faisal Shaikh,32.2,2000,Social media personality,India,—
23,24,@bts_official_bighit,BTS,32.1,557,Band,South Korea,NaN
24,25,@lilhuddy,Chase Hudson,30.6,1600,Singer and social media personality,United States,—
25,26,@stokestwins,Stokes Twins,30.1,782,Social media personalities,United States,—
26,27,@joealbanese,Joe Albanese,29.9,1200,Social media personality,United States,—
27,28,@elrodcontreras,Rod Contreras,29.6,1700,Social media personality,Mexico,—
28,29,@domelipa,Dominik Lipa,29.6,1700,Social media personality,Mexico,—
29,30,@kyliejenner,Kylie Jenner,29.5,321,Model and social media personality,United States,—
30,31,@junya1gou,Junya Gou,29.2,535,Social media personality,Japan,—
31,32,@youneszarou,Younes Zarou,29,558,Social media personality,Germany,—
32,33,@dobretwins,Lucas and Marcus,28.7,809,Social media personalities,United States,—
33,34,@_arishfakhan_,Arishfa Khan,28.6,1100,Actress and social media personality,India,—
34,35,@jannat_zubair29,Jannat Zubair Rahmani,28.2,746,Actress and social media personality,India,—
35,36,@nishaguragain,Nisha Guragain,28,756,Social media personality,India,—
36,37,@kallmekris,Kris Collins,28,1200,Social media personality,Canada,—
37,38,@selenagomez,Selena Gomez,27.8,82,Singer and actress,United States,—
38,39,@flighthouse,Flighthouse,27.6,2300,Digital entertainment brand,United States,NaN
39,40,@wigofellas,WigoFellas,27.5,708,Social media personality,United States,NaN
40,41,@savv.labrant,Savannah LaBrant,27.5,1400,Social media personality,United States,—
41,42,@noahbeck,Noah Beck,26.9,1700,Social media personality,United States,—
42,43,@lizzza,Liza Koshy,26.7,322,Actress and social media personality,United States,—
43,44,@billieeilish,Billie Eilish,26.7,92,Singer and songwriter,United States,—
44,45,@awezdarbar,Awez Darbar,26.1,1100,Choreographer and social media personality,India,—
45,46,@daviddobrik,David Dobrik,26,1100,Social media personality,United States,—
46,47,@carlosferiag,Carlos Feria,25.8,1200,Social media personality,Colombia,—
47,48,@kirakosarin,Kira Kosarin,25.7,447,"Actress, singer and social media personality",United States,—
48,49,@naimdarrechi,Naim Darrechi,25.3,2200,Singer and social media personality,Spain,—
49,50,@joshrichards,Josh Richards,24.9,1600,Social media personality,Canada,—
50,"As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021"

### Check how many rows and columns there are in `tokDF`

In [6]:
tokDF.shape

(51, 8)

In [8]:
tokDF.describe()

,Rank,Username,Owner,Followers[8](millions),Likes[8](millions),Description,Country,Brand Account
count,51,51,51,51,51,51,51,47
unique,51,51,51,46,39,23,13,2
top,33,@flighthouse,Chase Hudson,36.2,1100,Social media personality,United States,—
freq,1,1,1,2,4,21,31,46

### What are the column names? Print out the answer in the format "The column names are: X, Y, and Z."

In [5]:
columnList = tokDF.columns

In [6]:
print("The column names are: ", end= "")
for i in range(len(columnList)):
    if i < len(columnList)-1:
        print(columnList[i], end = ", ")
    else:
        print("and", columnList[i], end = ".")

The column names are: Rank, Username, Owner, Followers[8](millions), Likes[8](millions), Description, Country, and Brand Account.

### Rename the columns so that the `[8]` is removed from the names.

In [7]:
tokDF.columns = ['Rank', 'Username', 'Owner', 'Followers (millions)',
       'Likes (millions)', 'Description', 'Country', 'Brand Account']

### Check the last row of the dataframe.

In [8]:
tokDF.tail(1)

,Rank,Username,Owner,Followers (millions),Likes (millions),Description,Country,Brand Account
50,"As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021","As of April 26, 2021"

### Drop the last row from the dataframe.

In [9]:
tokDF = tokDF[:-1]
tokDF

,Rank,Username,Owner,Followers (millions),Likes (millions),Description,Country,Brand Account
0,1,@charlidamelio,Charli D'Amelio,113.9,9200,Dancer and social media personality,United States,—
1,2,@addisonre,Addison Rae,79.9,5100,Dancer and social media personality,United States,—
2,3,@bellapoarch,Bella Poarch,63.8,1400,Social media personality,United States,—
3,4,@zachking,Zach King,58.9,724,Filmmaker and social media personality,United States,—
4,5,@tiktok,TikTok,53,250,Social media platform,United States,NaN
5,6,@spencerx,Spencer Polanco Knight,52.7,1300,Beatboxer and social media personality,United States,—
6,7,@willsmith,Will Smith,52.6,315,Actor,United States,—
7,8,@lorengray,Loren Gray,52.1,2800,"Singer, dancer, and social media personality",United States,—
8,9,@dixiedamelio,Dixie D'Amelio,51.3,2900,Singer and social media personality,United States,—
9,10,@justmaiko,Michael Le,47.4,1300,Dancer and social media personality,United States,—
10,11,@jasonderulo,Jason Derulo,45,1000,"Singer, songwriter, and dancer",United States,—
11,12,@riyaz.14,Riyaz Aly,44.1,2100,Social media personality,India,—
12,13,@kimberly.loaiza,Kimberly Loaiza,41.3,2200,Singer and social media personality,Mexico,—
13,14,@brentrivera,Brent Rivera,37.9,1200,Actor and social media personality,United States,—
14,15,@cznburak,Burak Özdemir,37.4,691,Social media personality,Turkey,—
15,16,@jamescharles,James Charles,36.2,881,Social media personality,United States,—
16,17,@therock,The Rock,36.2,200,Actor and former wrestler,United States,—
17,18,@babyariel,Baby Ariel,35.3,1900,"Singer, actress, and social media personality",United States,—
18,19,@itsjojosiwa,JoJo Siwa,33.5,1100,"Singer, actress, dancer, and social media pers...",United States,—
19,20,@avani,Avani Gregg,33.4,2400,Social media personality,United States,—
20,21,@gilmhercroes,Gilmher Croes,32.9,803,Social media personality,Aruba,—
21,22,@mr_faisu_07,Faisal Shaikh,32.2,2000,Social media personality,India,—
22,23,@bts_official_bighit,BTS,32.1,557,Band,South Korea,NaN
23,24,@lilhuddy,Chase Hudson,30.6,1600,Singer and social media personality,United States,—
24,25,@stokestwins,Stokes Twins,30.1,782,Social media personalities,United States,—
25,26,@joealbanese,Joe Albanese,29.9,1200,Social media personality,United States,—
26,27,@elrodcontreras,Rod Contreras,29.6,1700,Social media personality,Mexico,—
27,28,@domelipa,Dominik Lipa,29.6,1700,Social media personality,Mexico,—
28,29,@kyliejenner,Kylie Jenner,29.5,321,Model and social media personality,United States,—
29,30,@junya1gou,Junya Gou,29.2,535,Social media personality,Japan,—
30,31,@youneszarou,Younes Zarou,29,558,Social media personality,Germany,—
31,32,@dobretwins,Lucas and Marcus,28.7,809,Social media personalities,United States,—
32,33,@_arishfakhan_,Arishfa Khan,28.6,1100,Actress and social media personality,India,—
33,34,@jannat_zubair29,Jannat Zubair Rahmani,28.2,746,Actress and social media personality,India,—
34,35,@nishaguragain,Nisha Guragain,28,756,Social media personality,India,—
35,36,@kallmekris,Kris Collins,28,1200,Social media personality,Canada,—
36,37,@selenagomez,Selena Gomez,27.8,82,Singer and actress,United States,—
37,38,@flighthouse,Flighthouse,27.6,2300,Digital entertainment brand,United States,NaN
38,39,@wigofellas,WigoFellas,27.5,708,Social media personality,United States,NaN
39,40,@savv.labrant,Savannah LaBrant,27.5,1400,Social media personality,United States,—
40,41,@noahbeck,Noah Beck,26.9,1700,Social media personality,United States,—
41,42,@khaby.lame,Khabane Lame,26.8,393,Social media personality,Italy,—
42,43,@lizzza,Liza Koshy,26.7,322,Actress and social media personality,United States,—
43,44,@billieeilish,Billie Eilish,26.7,92,Singer and songwriter,United States,—
44,45,@awezdarbar,Awez Darbar,26.1,1100,Choreographer and social media personality,India,—
45,46,@daviddobrik,David Dobrik,26,1100,Social media personality,United States,—
46,47,@carlosferiag,Carlos Feria,25.8,1200,Social media personality,Colombia,—
47,48,@kirakosarin,Kira Kosarin,25.7,447,"Actress, singer and social media personality",United States,—
48,49,@naimdarrechi,Naim Darrechi,25.3,2200,Singer and social media personality,Spain,—
49,50,@joshrichards,Josh Richards,24.9,1600,Social media personality,Canada,—

In [10]:
tokDF.isnull().sum()

Rank                    0
Username                0
Owner                   0
Followers (millions)    0
Likes (millions)        0
Description             0
Country                 0
Brand Account           4
dtype: int64

### What is the average follower count (in millions)? If it doesn't work at first, check the data types, use pandas' `.to_numeric` function on the data, and try again.

In [11]:
# Check data types
tokDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  50 non-null     object
 1   Username              50 non-null     object
 2   Owner                 50 non-null     object
 3   Followers (millions)  50 non-null     object
 4   Likes (millions)      50 non-null     object
 5   Description           50 non-null     object
 6   Country               50 non-null     object
 7   Brand Account         46 non-null     object
dtypes: object(8)
memory usage: 3.2+ KB

In [12]:
# Change column's data type and check to make sure it's changed 
tokDF['Followers (millions)'] = pd.to_numeric(tokDF['Followers (millions)'])
tokDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  50 non-null     object
 1   Username              50 non-null     object
 2   Owner                 50 non-null     object
 3   Followers (millions)  50 non-null     float64
 4   Likes (millions)      50 non-null     object
 5   Description           50 non-null     object
 6   Country               50 non-null     object
 7   Brand Account         46 non-null     object
dtypes: float64(1), object(7)
memory usage: 3.2+ KB

<ipython-input-12-357a669eeb31>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tokDF['Followers (millions)'] = pd.to_numeric(tokDF['Followers (millions)'])

### Now find the average follower count (in millions) rounded to three decimal points.

In [13]:
round(tokDF['Followers (millions)'].mean(),3)

37.068

### Drop the last column of `tokDF`

In [14]:
tokDF.drop('Brand Account', axis='columns', inplace=True)

C:\Users\lukasz\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

### Find the average follower count (in millions) for each country, to the nearest whole number (remember that `.astype` can be used on a series object to change every item in the array.)

In [15]:
tokDF['Followers (millions)'] = tokDF['Followers (millions)'].astype(float)

<ipython-input-15-fd0810d3c6f7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tokDF['Followers (millions)'] = tokDF['Followers (millions)'].astype(float)

In [16]:
tokdf2 = tokDF.groupby('Country')['Followers (millions)'].agg(['mean'])

In [17]:
tokdf2.astype(int)

               mean
Country
Aruba            32
Canada           26
Colombia         25
Germany          29
India            31
Italy            26
Japan            29
Mexico           33
South Korea      32
Spain            25
Turkey           37
United States    41

### Make a dictionary containing usernames as keys and followers (in millions) as the values. Use `.to_dict()`

In [20]:
userDF = tokDF.set_index('Username')
userDict = userDF['Followers (millions)'].to_dict()

### Read in `countries of the world.csv` as `countryDF`

In [21]:
countryDF = pd.read_csv("countries of the world.csv")
countryDF

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [22]:
countryDF.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

### Check how many nulls there are for each column

In [23]:
countryDF.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

### Check which countries have null values for `Literacy`

In [24]:
countryDF[countryDF['Literacy (%)'].isnull()]

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,"88,0","0,04","0,31","21,05",6100.0,NaN,"215,4","13,6","2,96","83,44",4,"8,77","8,27","0,142","0,308","0,55"
66,Faroe Islands,WESTERN EUROPE,47246,1399,"33,8","79,84","1,41","6,24",22000.0,NaN,"503,8","2,14",0,"97,86",NaN,"14,05","8,7","0,27","0,11","0,62"
74,Gaza Strip,NEAR EAST,1428757,360,"3968,8","11,11","1,6","22,93",600.0,NaN,"244,3","28,95","21,05",50,3,"39,45","3,8","0,03","0,283","0,687"
78,Gibraltar,WESTERN EUROPE,27928,7,"3989,7","171,43",0,"5,13",17500.0,NaN,"877,7",0,0,100,NaN,"10,74","9,31",NaN,NaN,NaN
80,Greenland,NORTHERN AMERICA,56361,2166086,"0,0","2,04","-8,37","15,82",20000.0,NaN,"448,9",0,0,100,1,"15,93","7,84",NaN,NaN,NaN
85,Guernsey,WESTERN EUROPE,65409,78,"838,6","64,10","3,84","4,71",20000.0,NaN,"842,4",NaN,NaN,NaN,3,"8,81","10,01","0,03","0,1","0,87"
99,Isle of Man,WESTERN EUROPE,75441,572,"131,9","27,97","5,36","5,93",21000.0,NaN,"676,0",9,0,91,3,"11,05","11,19","0,01","0,13","0,86"
104,Jersey,WESTERN EUROPE,91084,116,"785,2","60,34","2,76","5,24",24800.0,NaN,"811,3",0,0,100,3,"9,3","9,28","0,05","0,02","0,93"
108,Kiribati,OCEANIA,105432,811,"130,0","140,94",0,"48,52",800.0,NaN,"42,7","2,74","50,68","46,58",2,"30,65","8,26","0,089","0,242","0,668"
123,Macedonia,EASTERN EUROPE,2050554,25333,"80,9","0,00","-1,45","10,09",6700.0,NaN,"260,0","22,26","1,81","75,93",3,"12,02","8,77","0,118","0,319","0,563"
134,Mayotte,SUB-SAHARAN AFRICA,201234,374,"538,1","49,52","6,78","62,4",2600.0,NaN,"49,7",NaN,NaN,NaN,2,"40,95","7,7",NaN,NaN,NaN
144,Nauru,OCEANIA,13287,21,"632,7","142,86",0,"9,95",5000.0,NaN,"143,0",0,0,100,2,"24,76","6,7",NaN,NaN,NaN
185,Slovakia,EASTERN EUROPE,5439448,48845,"111,4","0,00","0,3","7,41",13300.0,NaN,"220,1","30,16","2,62","67,22",3,"10,65","9,45","0,035","0,294","0,672"
187,Solomon Islands,OCEANIA,552438,28450,"19,4","18,67",0,"21,29",1700.0,NaN,"13,4","0,64",2,"97,36",2,"30,01","3,92","0,42","0,11","0,47"
209,Tuvalu,OCEANIA,11810,26,"454,2","92,31",0,"20,03",1100.0,NaN,"59,3",0,0,100,2,"22,18","7,11","0,166","0,272","0,562"
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,"56,9","9,84","-8,94","8,03",17200.0,NaN,"652,8","11,76","2,94","85,3",2,"13,96","6,43","0,01","0,19","0,8"
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"

### Create a subset of `countryDF` which contains only `Country`, `Population`, and `Literacy` data

In [26]:
sub_df = countryDF[["Country", "Population", "Literacy (%)"]]
sub_df

             Country  Population Literacy (%)
0       Afghanistan     31056997         36,0
1           Albania      3581655         86,5
2           Algeria     32930091         70,0
3    American Samoa        57794         97,0
4           Andorra        71201        100,0
..               ...         ...          ...
222       West Bank      2460492          NaN
223  Western Sahara       273008          NaN
224           Yemen     21456188         50,2
225          Zambia     11502010         80,6
226        Zimbabwe     12236805         90,7

[227 rows x 3 columns]

### Use pandas' `merge()` to combine the TikTok data with the subset of the country data you made.

In [27]:
merger = tokDF.merge(sub_df, how="left")
merger

,Rank,Username,Owner,Followers (millions),Likes (millions),Description,Country,Population,Literacy (%)
0,1,@charlidamelio,Charli D'Amelio,113.9,9200,Dancer and social media personality,United States,NaN,NaN
1,2,@addisonre,Addison Rae,79.9,5100,Dancer and social media personality,United States,NaN,NaN
2,3,@bellapoarch,Bella Poarch,63.8,1400,Social media personality,United States,NaN,NaN
3,4,@zachking,Zach King,58.9,724,Filmmaker and social media personality,United States,NaN,NaN
4,5,@tiktok,TikTok,53.0,250,Social media platform,United States,NaN,NaN
5,6,@spencerx,Spencer Polanco Knight,52.7,1300,Beatboxer and social media personality,United States,NaN,NaN
6,7,@willsmith,Will Smith,52.6,315,Actor,United States,NaN,NaN
7,8,@lorengray,Loren Gray,52.1,2800,"Singer, dancer, and social media personality",United States,NaN,NaN
8,9,@dixiedamelio,Dixie D'Amelio,51.3,2900,Singer and social media personality,United States,NaN,NaN
9,10,@justmaiko,Michael Le,47.4,1300,Dancer and social media personality,United States,NaN,NaN
10,11,@jasonderulo,Jason Derulo,45.0,1000,"Singer, songwriter, and dancer",United States,NaN,NaN
11,12,@riyaz.14,Riyaz Aly,44.1,2100,Social media personality,India,NaN,NaN
12,13,@kimberly.loaiza,Kimberly Loaiza,41.3,2200,Singer and social media personality,Mexico,NaN,NaN
13,14,@brentrivera,Brent Rivera,37.9,1200,Actor and social media personality,United States,NaN,NaN
14,15,@cznburak,Burak Özdemir,37.4,691,Social media personality,Turkey,NaN,NaN
15,16,@jamescharles,James Charles,36.2,881,Social media personality,United States,NaN,NaN
16,17,@therock,The Rock,36.2,200,Actor and former wrestler,United States,NaN,NaN
17,18,@babyariel,Baby Ariel,35.3,1900,"Singer, actress, and social media personality",United States,NaN,NaN
18,19,@itsjojosiwa,JoJo Siwa,33.5,1100,"Singer, actress, dancer, and social media pers...",United States,NaN,NaN
19,20,@avani,Avani Gregg,33.4,2400,Social media personality,United States,NaN,NaN
20,21,@gilmhercroes,Gilmher Croes,32.9,803,Social media personality,Aruba,NaN,NaN
21,22,@mr_faisu_07,Faisal Shaikh,32.2,2000,Social media personality,India,NaN,NaN
22,23,@bts_official_bighit,BTS,32.1,557,Band,South Korea,NaN,NaN
23,24,@lilhuddy,Chase Hudson,30.6,1600,Singer and social media personality,United States,NaN,NaN
24,25,@stokestwins,Stokes Twins,30.1,782,Social media personalities,United States,NaN,NaN
25,26,@joealbanese,Joe Albanese,29.9,1200,Social media personality,United States,NaN,NaN
26,27,@elrodcontreras,Rod Contreras,29.6,1700,Social media personality,Mexico,NaN,NaN
27,28,@domelipa,Dominik Lipa,29.6,1700,Social media personality,Mexico,NaN,NaN
28,29,@kyliejenner,Kylie Jenner,29.5,321,Model and social media personality,United States,NaN,NaN
29,30,@junya1gou,Junya Gou,29.2,535,Social media personality,Japan,NaN,NaN
30,31,@youneszarou,Younes Zarou,29.0,558,Social media personality,Germany,NaN,NaN
31,32,@dobretwins,Lucas and Marcus,28.7,809,Social media personalities,United States,NaN,NaN
32,33,@_arishfakhan_,Arishfa Khan,28.6,1100,Actress and social media personality,India,NaN,NaN
33,34,@jannat_zubair29,Jannat Zubair Rahmani,28.2,746,Actress and social media personality,India,NaN,NaN
34,35,@nishaguragain,Nisha Guragain,28.0,756,Social media personality,India,NaN,NaN
35,36,@kallmekris,Kris Collins,28.0,1200,Social media personality,Canada,NaN,NaN
36,37,@selenagomez,Selena Gomez,27.8,82,Singer and actress,United States,NaN,NaN
37,38,@flighthouse,Flighthouse,27.6,2300,Digital entertainment brand,United States,NaN,NaN
38,39,@wigofellas,WigoFellas,27.5,708,Social media personality,United States,NaN,NaN
39,40,@savv.labrant,Savannah LaBrant,27.5,1400,Social media personality,United States,NaN,NaN
40,41,@noahbeck,Noah Beck,26.9,1700,Social media personality,United States,NaN,NaN
41,42,@khaby.lame,Khabane Lame,26.8,393,Social media personality,Italy,NaN,NaN
42,43,@lizzza,Liza Koshy,26.7,322,Actress and social media personality,United States,NaN,NaN
43,44,@billieeilish,Billie Eilish,26.7,92,Singer and songwriter,United States,NaN,NaN
44,45,@awezdarbar,Awez Darbar,26.1,1100,Choreographer and social media personality,India,NaN,NaN
45,46,@daviddobrik,David Dobrik,26.0,1100,Social media personality,United States,NaN,NaN
46,47,@carlosferiag,Carlos Feria,25.8,1200,Social media personality,Colombia,NaN,NaN
47,48,@kirakosarin,Kira Kosarin,25.7,447,"Actress, singer and social media personality",United States,NaN,NaN
48,49,@naimdarrechi,Naim Darrechi,25.3,2200,Singer and social media personality,Spain,NaN,NaN
49,50,@joshrichards,Josh Richards,24.9,1600,Social media personality,Canada,NaN,NaN

### Why might you be getting `NaN`s in the merged dataframe? Use `.tolist()` on the Country values to see a list of all the countries.

In [28]:
sub_df['Country'].tolist()

['Afghanistan ',
 'Albania ',
 'Algeria ',
 'American Samoa ',
 'Andorra ',
 'Angola ',
 'Anguilla ',
 'Antigua & Barbuda ',
 'Argentina ',
 'Armenia ',
 'Aruba ',
 'Australia ',
 'Austria ',
 'Azerbaijan ',
 'Bahamas, The ',
 'Bahrain ',
 'Bangladesh ',
 'Barbados ',
 'Belarus ',
 'Belgium ',
 'Belize ',
 'Benin ',
 'Bermuda ',
 'Bhutan ',
 'Bolivia ',
 'Bosnia & Herzegovina ',
 'Botswana ',
 'Brazil ',
 'British Virgin Is. ',
 'Brunei ',
 'Bulgaria ',
 'Burkina Faso ',
 'Burma ',
 'Burundi ',
 'Cambodia ',
 'Cameroon ',
 'Canada ',
 'Cape Verde ',
 'Cayman Islands ',
 'Central African Rep. ',
 'Chad ',
 'Chile ',
 'China ',
 'Colombia ',
 'Comoros ',
 'Congo, Dem. Rep. ',
 'Congo, Repub. of the ',
 'Cook Islands ',
 'Costa Rica ',
 "Cote d'Ivoire ",
 'Croatia ',
 'Cuba ',
 'Cyprus ',
 'Czech Republic ',
 'Denmark ',
 'Djibouti ',
 'Dominica ',
 'Dominican Republic ',
 'East Timor ',
 'Ecuador ',
 'Egypt ',
 'El Salvador ',
 'Equatorial Guinea ',
 'Eritrea ',
 'Estonia ',
 'Ethiopia ',
 'Faroe Islands ',
 'Fiji ',
 'Finland ',
 'France ',
 'French Guiana ',
 'French Polynesia ',
 'Gabon ',
 'Gambia, The ',
 'Gaza Strip ',
 'Georgia ',
 'Germany ',
 'Ghana ',
 'Gibraltar ',
 'Greece ',
 'Greenland ',
 'Grenada ',
 'Guadeloupe ',
 'Guam ',
 'Guatemala ',
 'Guernsey ',
 'Guinea ',
 'Guinea-Bissau ',
 'Guyana ',
 'Haiti ',
 'Honduras ',
 'Hong Kong ',
 'Hungary ',
 'Iceland ',
 'India ',
 'Indonesia ',
 'Iran ',
 'Iraq ',
 'Ireland ',
 'Isle of Man ',
 'Israel ',
 'Italy ',
 'Jamaica ',
 'Japan ',
 'Jersey ',
 'Jordan ',
 'Kazakhstan ',
 'Kenya ',
 'Kiribati ',
 'Korea, North ',
 'Korea, South ',
 'Kuwait ',
 'Kyrgyzstan ',
 'Laos ',
 'Latvia ',
 'Lebanon ',
 'Lesotho ',
 'Liberia ',
 'Libya ',
 'Liechtenstein ',
 'Lithuania ',
 'Luxembourg ',
 'Macau ',
 'Macedonia ',
 'Madagascar ',
 'Malawi ',
 'Malaysia ',
 'Maldives ',
 'Mali ',
 'Malta ',
 'Marshall Islands ',
 'Martinique ',
 'Mauritania ',
 'Mauritius ',
 'Mayotte ',
 'Mexico ',
 'Micronesia, Fed. St. ',
 'Moldova ',
 'Monaco ',
 'Mongolia ',
 'Montserrat ',
 'Morocco ',
 'Mozambique ',
 'Namibia ',
 'Nauru ',
 'Nepal ',
 'Netherlands ',
 'Netherlands Antilles ',
 'New Caledonia ',
 'New Zealand ',
 'Nicaragua ',
 'Niger ',
 'Nigeria ',
 'N. Mariana Islands ',
 'Norway ',
 'Oman ',
 'Pakistan ',
 'Palau ',
 'Panama ',
 'Papua New Guinea ',
 'Paraguay ',
 'Peru ',
 'Philippines ',
 'Poland ',
 'Portugal ',
 'Puerto Rico ',
 'Qatar ',
 'Reunion ',
 'Romania ',
 'Russia ',
 'Rwanda ',
 'Saint Helena ',
 'Saint Kitts & Nevis ',
 'Saint Lucia ',
 'St Pierre & Miquelon ',
 'Saint Vincent and the Grenadines ',
 'Samoa ',
 'San Marino ',
 'Sao Tome & Principe ',
 'Saudi Arabia ',
 'Senegal ',
 'Serbia ',
 'Seychelles ',
 'Sierra Leone ',
 'Singapore ',
 'Slovakia ',
 'Slovenia ',
 'Solomon Islands ',
 'Somalia ',
 'South Africa ',
 'Spain ',
 'Sri Lanka ',
 'Sudan ',
 'Suriname ',
 'Swaziland ',
 'Sweden ',
 'Switzerland ',
 'Syria ',
 'Taiwan ',
 'Tajikistan ',
 'Tanzania ',
 'Thailand ',
 'Togo ',
 'Tonga ',
 'Trinidad & Tobago ',
 'Tunisia ',
 'Turkey ',
 'Turkmenistan ',
 'Turks & Caicos Is ',
 'Tuvalu ',
 'Uganda ',
 'Ukraine ',
 'United Arab Emirates ',
 'United Kingdom ',
 'United States ',
 'Uruguay ',
 'Uzbekistan ',
 'Vanuatu ',
 'Venezuela ',
 'Vietnam ',
 'Virgin Islands ',
 'Wallis and Futuna ',
 'West Bank ',
 'Western Sahara ',
 'Yemen ',
 'Zambia ',
 'Zimbabwe ']

### What's causing the problem? Change the dataframe so `Country` values match the syntax of the TikTok data.

In [29]:
sub_df['Country'] = sub_df['Country'].str.rstrip()

<ipython-input-29-fe1c2e615020>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Country'] = sub_df['Country'].str.rstrip()

In [30]:
sub_df['Country'].tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua & Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia & Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Is.',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Rep.',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Repub. of the',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Gaza Strip',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, North',
 'Korea, South',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia, Fed. St.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'N. Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Lucia',
 'St Pierre & Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks & Caicos Is',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands',
 'Wallis and Futuna',
 'West Bank',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [31]:
merger2 = tokDF.merge(sub_df, how="left")
merger2

,Rank,Username,Owner,Followers (millions),Likes (millions),Description,Country,Population,Literacy (%)
0,1,@charlidamelio,Charli D'Amelio,113.9,9200,Dancer and social media personality,United States,2.984442e+08,"97,0"
1,2,@addisonre,Addison Rae,79.9,5100,Dancer and social media personality,United States,2.984442e+08,"97,0"
2,3,@bellapoarch,Bella Poarch,63.8,1400,Social media personality,United States,2.984442e+08,"97,0"
3,4,@zachking,Zach King,58.9,724,Filmmaker and social media personality,United States,2.984442e+08,"97,0"
4,5,@tiktok,TikTok,53.0,250,Social media platform,United States,2.984442e+08,"97,0"
5,6,@spencerx,Spencer Polanco Knight,52.7,1300,Beatboxer and social media personality,United States,2.984442e+08,"97,0"
6,7,@willsmith,Will Smith,52.6,315,Actor,United States,2.984442e+08,"97,0"
7,8,@lorengray,Loren Gray,52.1,2800,"Singer, dancer, and social media personality",United States,2.984442e+08,"97,0"
8,9,@dixiedamelio,Dixie D'Amelio,51.3,2900,Singer and social media personality,United States,2.984442e+08,"97,0"
9,10,@justmaiko,Michael Le,47.4,1300,Dancer and social media personality,United States,2.984442e+08,"97,0"
10,11,@jasonderulo,Jason Derulo,45.0,1000,"Singer, songwriter, and dancer",United States,2.984442e+08,"97,0"
11,12,@riyaz.14,Riyaz Aly,44.1,2100,Social media personality,India,1.095352e+09,"59,5"
12,13,@kimberly.loaiza,Kimberly Loaiza,41.3,2200,Singer and social media personality,Mexico,1.074495e+08,"92,2"
13,14,@brentrivera,Brent Rivera,37.9,1200,Actor and social media personality,United States,2.984442e+08,"97,0"
14,15,@cznburak,Burak Özdemir,37.4,691,Social media personality,Turkey,7.041396e+07,"86,5"
15,16,@jamescharles,James Charles,36.2,881,Social media personality,United States,2.984442e+08,"97,0"
16,17,@therock,The Rock,36.2,200,Actor and former wrestler,United States,2.984442e+08,"97,0"
17,18,@babyariel,Baby Ariel,35.3,1900,"Singer, actress, and social media personality",United States,2.984442e+08,"97,0"
18,19,@itsjojosiwa,JoJo Siwa,33.5,1100,"Singer, actress, dancer, and social media pers...",United States,2.984442e+08,"97,0"
19,20,@avani,Avani Gregg,33.4,2400,Social media personality,United States,2.984442e+08,"97,0"
20,21,@gilmhercroes,Gilmher Croes,32.9,803,Social media personality,Aruba,7.189100e+04,"97,0"
21,22,@mr_faisu_07,Faisal Shaikh,32.2,2000,Social media personality,India,1.095352e+09,"59,5"
22,23,@bts_official_bighit,BTS,32.1,557,Band,South Korea,NaN,NaN
23,24,@lilhuddy,Chase Hudson,30.6,1600,Singer and social media personality,United States,2.984442e+08,"97,0"
24,25,@stokestwins,Stokes Twins,30.1,782,Social media personalities,United States,2.984442e+08,"97,0"
25,26,@joealbanese,Joe Albanese,29.9,1200,Social media personality,United States,2.984442e+08,"97,0"
26,27,@elrodcontreras,Rod Contreras,29.6,1700,Social media personality,Mexico,1.074495e+08,"92,2"
27,28,@domelipa,Dominik Lipa,29.6,1700,Social media personality,Mexico,1.074495e+08,"92,2"
28,29,@kyliejenner,Kylie Jenner,29.5,321,Model and social media personality,United States,2.984442e+08,"97,0"
29,30,@junya1gou,Junya Gou,29.2,535,Social media personality,Japan,1.274636e+08,"99,0"
30,31,@youneszarou,Younes Zarou,29.0,558,Social media personality,Germany,8.242230e+07,"99,0"
31,32,@dobretwins,Lucas and Marcus,28.7,809,Social media personalities,United States,2.984442e+08,"97,0"
32,33,@_arishfakhan_,Arishfa Khan,28.6,1100,Actress and social media personality,India,1.095352e+09,"59,5"
33,34,@jannat_zubair29,Jannat Zubair Rahmani,28.2,746,Actress and social media personality,India,1.095352e+09,"59,5"
34,35,@nishaguragain,Nisha Guragain,28.0,756,Social media personality,India,1.095352e+09,"59,5"
35,36,@kallmekris,Kris Collins,28.0,1200,Social media personality,Canada,3.309893e+07,"97,0"
36,37,@selenagomez,Selena Gomez,27.8,82,Singer and actress,United States,2.984442e+08,"97,0"
37,38,@flighthouse,Flighthouse,27.6,2300,Digital entertainment brand,United States,2.984442e+08,"97,0"
38,39,@wigofellas,WigoFellas,27.5,708,Social media personality,United States,2.984442e+08,"97,0"
39,40,@savv.labrant,Savannah LaBrant,27.5,1400,Social media personality,United States,2.984442e+08,"97,0"
40,41,@noahbeck,Noah Beck,26.9,1700,Social media personality,United States,2.984442e+08,"97,0"
41,42,@khaby.lame,Khabane Lame,26.8,393,Social media personality,Italy,5.813351e+07,"98,6"
42,43,@lizzza,Liza Koshy,26.7,322,Actress and social media personality,United States,2.984442e+08,"97,0"
43,44,@billieeilish,Billie Eilish,26.7,92,Singer and songwriter,United States,2.984442e+08,"97,0"
44,45,@awezdarbar,Awez Darbar,26.1,1100,Choreographer and social media personality,India,1.095352e+09,"59,5"
45,46,@daviddobrik,David Dobrik,26.0,1100,Social media personality,United States,2.984442e+08,"97,0"
46,47,@carlosferiag,Carlos Feria,25.8,1200,Social media personality,Colombia,4.359304e+07,"92,5"
47,48,@kirakosarin,Kira Kosarin,25.7,447,"Actress, singer and social media personality",United States,2.984442e+08,"97,0"
48,49,@naimdarrechi,Naim Darrechi,25.3,2200,Singer and social media personality,Spain,4.039784e+07,"97,9"
49,50,@joshrichards,Josh Richards,24.9,1600,Social media personality,Canada,3.309893e+07,"97,0"

In [32]:
merger2.dtypes

Rank                     object
Username                 object
Owner                    object
Followers (millions)    float64
Likes (millions)         object
Description              object
Country                  object
Population              float64
Literacy (%)             object
dtype: object