# Week 12: Mapping and Aggregate Functions

## Check your working directory and that `winemag-data-130k-v2.csv` and `Future50.csv` are in it.

In [1]:
pwd

'C:\\Users\\lukasz\\Desktop\\BAIM 3220 Python'

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 8650-7A23

 Directory of C:\Users\lukasz\Desktop\BAIM 3220 Python

04/12/2021  02:42 PM    <DIR>          .
04/12/2021  02:42 PM    <DIR>          ..
04/12/2021  02:42 PM    <DIR>          .ipynb_checkpoints
03/30/2021  09:57 AM             3,837 Future50.csv
04/12/2021  01:20 PM           162,812 Homework6 Lukasz Stefanowicz.ipynb
04/08/2021  05:46 PM            25,320 Homework6.ipynb
04/01/2021  08:52 AM        33,633,170 JEOPARDY_CSV.csv
03/29/2021  09:13 AM           110,156 Lukasz Stefanowicz Homework 5.ipynb
03/30/2021  10:48 AM            54,263 Lukasz Stefanowicz Mar30_InClass.ipynb
04/08/2021  09:32 AM           513,685 Panda Practice.ipynb
03/29/2021  04:39 PM           171,552 Panda Practice-Copy1.ipynb
04/12/2021  10:43 AM           155,792 Pandas_FindandReplace_TypeAlongCOMPLETED.ipynb
04/12/2021  02:42 PM           227,427 Pandas_Part4_Grouping_TypeAlongCOMPLETED.ipynb
03/30/2021  10:45 AM           175,807 Pandas_SumAggregateAndMapping.ipynb
03/30/2021  09:35 AM           720,589 squirrel.csv
03/25/2021  10:05 AM             4,009 students.csv
03/24/2021  11:08 AM            15,372 students100.xlsx
03/24/2021  11:08 AM            27,218 Top250.csv
04/08/2021  09:17 AM           542,107 topUS.csv
04/08/2021  09:17 AM           213,902 topUs.xlsx
03/29/2021  04:06 PM             2,197 Untitled.ipynb
03/29/2021  11:31 AM        52,796,676 winemag-data-130k-v2.csv
              19 File(s)     89,555,891 bytes
               3 Dir(s)  71,079,485,440 bytes free

## First thing's first
### Import the necessary modules - `pandas` and `numpy`

In [3]:
import numpy as np
import pandas as pd

## What's the first thing we have to do when we want to work with a data file?
### Read in our wine csv file and save it to a variable. Remember, this is a CSV file, so we call the specific module from pandas (which we just imported using the alias `pd`)

In [4]:
wine=pd.read_csv('winemag-data-130k-v2.csv')

In [8]:
wine.shape

(129971, 14)

In [9]:
wine

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

##  Descriptive Analytics with `describe()`
>- You can use `.describe()` to show you some basic descriptive statistics for all numeric columns in the dataframe
>- By default, `.describe()` is "type-aware" which means it will automatically give summary statistics based on the data type of the column, so it only analyzes numeric columns 
> - It won’t, for example, try to calculate a mean or a standard deviation for location or YOY_Sales, since they include text strings (YOY_Sales has percentages which get treated as strings)
>- General syntax: dataFrame.columnName.describe()

In [5]:
wine.describe()

          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000

### Show the summary stats for all columns in `wine`
>- Check the documentation on `describe()` to learn how else you can change up the descriptive analytics for the columns
>>- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

In [6]:
wine.describe(include='all')

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
count,129971.000000,129908,129971,92506,129971.000000,120975.000000,129908,108724,50511,103727,98758,129971,129970,129971
unique,NaN,43,119955,37976,NaN,NaN,425,1229,17,19,15,118840,707,16757
top,NaN,US,"Stalky aromas suggest hay and green herbs, wit...",Reserve,NaN,NaN,California,Napa Valley,Central Coast,Roger Voss,@vossroger,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Pinot Noir,Wines & Winemakers
freq,NaN,54504,3,2009,NaN,NaN,36247,4480,11065,25514,25514,11,13272,222
mean,64985.000000,NaN,NaN,NaN,88.447138,35.363389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,37519.540256,NaN,NaN,NaN,3.039730,41.022218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,32492.500000,NaN,NaN,NaN,86.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,64985.000000,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,97477.500000,NaN,NaN,NaN,91.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,129970.000000,NaN,NaN,NaN,100.000000,3300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Now, what is/are the question(s) being asked of the data? 
>- All analytics projects start with questions (from you, your boss, some decision maker, etc)

#### For this example...
##### Question: What is the summary information about wine point ratings? 
>- subQ1: What is a baseline/average wine?
>>- What is the average rating?
>>- What is the median rating? 
>- subQ2: What is the range of wine ratings? 
>>- What is the lowest rating? The highest rating? 

### The cool thing about learning `python` and in particular `pandas` is you can answer all these with a few lines of code :)

In [12]:
wine['points'].median()

88.0

### Another question to be answered with analytics:
##### What information do we have regarding wine tasters? 
>- subQ1: How many total wine tasters are there? 
>- subQ2: How many total records have a wine taster mapped to them? 
>- subQ3: Who has the most wine tastings? 
>>- How many wine tastings does he or she have?

In [13]:
wine['taster_name'].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [15]:
wine['taster_name'].nunique()

19

In [7]:
len(wine.loc[((wine['taster_name']=='Roger Voss'))])

25514

## Create a new column, points per price.

In [8]:
wine['Points per Price'] =wine['points']/wine['price']
#create a new column by saying its name and setting it to whatever value it will be

In [50]:
wine

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Points per Price
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),3.214286
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,1.200000
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,3.000000
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,2.812500
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,4.285714

## Now, read in the `Future50.csv` file

In [10]:
future=pd.read_csv('Future50.csv')
future

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0%,21,90.9%,1370,Yes
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7%,46,58.6%,685,Yes
4,5,Pokeworks,"Irvine, Calif.",49,77.1%,50,56.3%,1210,Yes
5,6,Playa Bowls,"Belmar, N.J.",39,62.9%,76,28.8%,580,Yes
6,7,The Simple Greek,"Blue Bell, Pa.",24,52.5%,36,33.3%,775,Yes
7,8,Melt Shop,"New York, N.Y.",20,39.6%,19,35.7%,1260,Yes
8,9,Creamistry,"Yorba Linda, Calif.",24,36.8%,60,27.7%,465,Yes
9,10,Joella's Hot Chicken,"Louisville, Ky.",29,35.5%,17,30.8%,1930,No
10,11,Eggs Up Grill,"Spartanburg, S.C.",30,35.4%,41,36.7%,860,Yes
11,12,Dog Haus,"Pasadena, Calif.",39,34.5%,50,42.9%,1200,Yes
12,13,Teriyaki Madness,"Denver, Colo.",41,34.1%,63,65.8%,890,Yes
13,14,Bluestone Lane,"New York, N.Y.",48,33.0%,48,37.1%,1175,No
14,15,Original ChopShop,"Plano, Texas",21,32.5%,12,20.0%,1930,No
15,16,Rapid Fired Pizza,"Kettering, Ohio",24,32.2%,35,29.6%,780,Yes
16,17,Ike's Love & Sandwiches,"San Francisco, Calif.",44,30.8%,71,29.1%,700,Yes
17,18,Vitality Bowls,"San Ramon, Calif.",37,30.1%,77,24.2%,535,Yes
18,19,Hawkers Asian Street Fare,"Orlando, Fla.",22,30.0%,7,40.0%,3800,No
19,20,Maple Street Biscuit Co.,"Orange Park, Fla.",39,28.9%,33,10.0%,1260,Yes
20,21,Bulla Gastrobar,"Doral, Fla.",32,28.2%,8,14.3%,4300,No
21,22,Duck Donuts,"Mechanicsburg, Pa.",44,28.0%,90,16.9%,530,Yes
22,23,The Little Beet,"New York, N.Y.",23,26.5%,12,33.3%,2230,No
23,24,Joe & The Juice,"New York, N.Y.",47,25.9%,69,25.5%,760,Yes
24,25,By Chloe,"New York, N.Y.",37,25.6%,14,7.7%,2800,No
25,26,Sugarfire Smokehouse,"Olivette, Mo.",39,25.4%,15,15.4%,2820,No
26,27,Bibibop Asian Grill,"Columbus, Ohio",44,24.6%,37,23.3%,1330,No
27,28,Bubbakoo's Burritos,"Wall Township, N.J.",28,24.3%,31,14.8%,970,Yes
28,29,Dos Toros Taqueria,"New York, N.Y.",28,24.0%,22,10.0%,1375,No
29,30,The Pizza Press,"Anaheim, Calif.",27,23.7%,27,22.7%,1130,Yes
30,31,The Lost Cajun,"Frisco, Texas",20,23.0%,26,4.0%,785,Yes
31,32,Just Salad,"New York, N.Y.",42,22.7%,38,26.7%,1240,No
32,33,Jeni's Splendid Ice Creams,"Columbus, Ohio",42,22.4%,44,22.2%,1050,No
33,34,Boqueria,"New York, N.Y.",27,22.0%,7,16.7%,4260,No
34,35,Quickway Japanese Hibachi,"Fairfax, Va.",22,21.4%,25,19.0%,985,Yes
35,36,Surcheros,"Douglas, Ga.",22,21.3%,20,17.6%,1230,Yes
36,37,Famous Toastery,"Charlotte, N.C.",40,21.2%,27,8.0%,1540,Yes
37,38,Culinary Dropout,"Scottsdale, Ariz.",20,20.8%,7,16.7%,3120,No
38,39,Condado Tacos,"Columbus, Ohio",38,19.9%,15,15.4%,2755,No
39,40,The Flying Biscuit Cafe,"Atlanta, Ga.",29,19.5%,21,16.7%,1510,Yes
40,41,Blue Sushi Sake Grill,"Omaha, Neb.",49,19.5%,14,16.7%,3500,No
41,42,The Human Bean,"Medford, Ore.",47,19.0%,97,19.8%,535,Yes
42,43,Spitz Mediterranean Street Food,"Los Angeles, Calif.",28,18.8%,11,10.0%,2700,No
43,44,Tacos 4 Life,"Conway, Ark.",25,18.4%,16,6.7%,1620,Yes
44,45,Pita Mediterranean Street Food,"Fairburn, Ga.",38,17.8%,32,10.3%,1260,Yes
45,46,LA Crawfish,"McAllen, Texas",48,17.6%,25,13.6%,2050,Yes
46,47,&pizza,"Washington, D.C.",45,17.1%,35,9.4%,1350,No
47,48,Super Duper Burgers,"San Francisco, Calif.",39,16.9%,16,14.3%,2630,No
48,49,StoneFire Grill,"Agoura Hills, Calif.",31,16.0%,13,8.3%,2550,No
49,50,Gus's World Famous Fried Chicken,"Memphis, Tenn.",44,14.4%,28,7.7%,1600,Yes

## Now let's say we want to take the average of all our YOY Sales, using `.mean()` (ignoring the utility of the describe() function for a second)

In [11]:
#future['YOY_Sales'].mean()
#Crashes because YOY sales is a percentage(percentages are strings?).

## It doesn't work because they're percentages, so we have to transform the data. This is where mapping comes in.

In [25]:
future['YOY_Sales']=future['YOY_Sales'].str.strip('%').astype('float')/100
#says error but code seems to work

AttributeError: Can only use .str accessor with string values!

In [26]:
future['YOY_Sales'].mean()

0.33697999999999995

## Check if it's the same as using the describe function

In [39]:
future['YOY_Sales'].describe()

count     50.000000
mean      33.698000
std       24.549205
min       14.400000
25%       20.900000
50%       25.500000
75%       33.825000
max      130.500000
Name: YOY_Sales, dtype: float64

In [28]:
future.describe(include='all')

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
count,50.00000,50,50,50.000000,50.000000,50.000000,50,50.00000,50
unique,NaN,50,39,NaN,NaN,NaN,41,NaN,2
top,NaN,Hawkers Asian Street Fare,"New York, N.Y.",NaN,NaN,NaN,16.7%,NaN,Yes
freq,NaN,1,8,NaN,NaN,NaN,4,NaN,29
mean,25.50000,NaN,NaN,33.780000,0.336980,34.700000,NaN,1592.60000,NaN
std,14.57738,NaN,NaN,9.596534,0.245492,24.527577,NaN,994.67677,NaN
min,1.00000,NaN,NaN,20.000000,0.144000,7.000000,NaN,465.00000,NaN
25%,13.25000,NaN,NaN,24.250000,0.209000,16.000000,NaN,867.50000,NaN
50%,25.50000,NaN,NaN,34.500000,0.255000,27.000000,NaN,1260.00000,NaN
75%,37.75000,NaN,NaN,42.000000,0.338250,45.500000,NaN,2020.00000,NaN
max,50.00000,NaN,NaN,49.000000,1.305000,105.000000,NaN,4300.00000,NaN

### You notice that the data has a few columns that are percentages, and you want to make them all be decimals (floats). You're going to need to transform the data for this. A simple function will allow us to do this on the entire column.

## Basic Aggregate Functions
### An aggregation function is one which takes multiple individual values to return a single
>- It starts in some state, takes 2 parameters at each step, returns one value, and then executes a final step at the end

In [27]:
future['Restaurant'].sum()

"EvergreensClean JuiceSlapfishClean EatzPokeworksPlaya BowlsThe Simple GreekMelt ShopCreamistryJoella's Hot ChickenEggs Up GrillDog HausTeriyaki MadnessBluestone LaneOriginal ChopShopRapid Fired PizzaIke's Love & SandwichesVitality BowlsHawkers Asian Street FareMaple Street Biscuit Co.Bulla GastrobarDuck DonutsThe Little BeetJoe & The JuiceBy ChloeSugarfire SmokehouseBibibop Asian GrillBubbakoo's BurritosDos Toros TaqueriaThe Pizza PressThe Lost CajunJust SaladJeni's Splendid Ice CreamsBoqueriaQuickway Japanese HibachiSurcherosFamous ToasteryCulinary DropoutCondado TacosThe Flying Biscuit CafeBlue Sushi Sake GrillThe Human BeanSpitz Mediterranean Street FoodTacos 4 LifePita Mediterranean Street FoodLA Crawfish&pizzaSuper Duper BurgersStoneFire GrillGus's World Famous Fried Chicken"

In [40]:
future['Sales'].sum()

1689

## Mapping Functions 
## Using map(), apply(), applymap()
Source: https://medium.com/aikiss/pandas-apply-and-map-53868c3a0699

>- DataFrame.apply operates on entire rows or columns at a time.

>- DataFrame.applymap, Series.apply, and Series.map operate on one element at time.

>- Series.apply and Series.map are similar and often interchangeable.

## Using `apply()` to apply a function along an axis of the DataFrame or on values of a series

### Write a function that multiplies all numbers in column 'Sales' by 1000 and stores the results in a new column named, `'Actual_Sales'`

In [31]:
#use a lambda function to apply a function to every row in the data frame
future['Actual_Sales']=future.apply(lambda row: row.Sales *1000, axis=1)

### Axis parameter is the axis along which the function is applied:

>- 0 or ‘index’: apply function to each column.

>- 1 or ‘columns’: apply function to each row.
### axis = {0 or *index*, 1 or *columns*}, *default* 0

In [46]:
future

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising,Actual_Sales
0,1,Evergreens,"Seattle, Wash.",24,130.5,26,116.7%,1150,No,24000
1,2,Clean Juice,"Charlotte, N.C.",44,121.9,105,94.4%,560,Yes,44000
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0,21,90.9%,1370,Yes,21000
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7,46,58.6%,685,Yes,25000
4,5,Pokeworks,"Irvine, Calif.",49,77.1,50,56.3%,1210,Yes,49000
5,6,Playa Bowls,"Belmar, N.J.",39,62.9,76,28.8%,580,Yes,39000
6,7,The Simple Greek,"Blue Bell, Pa.",24,52.5,36,33.3%,775,Yes,24000
7,8,Melt Shop,"New York, N.Y.",20,39.6,19,35.7%,1260,Yes,20000
8,9,Creamistry,"Yorba Linda, Calif.",24,36.8,60,27.7%,465,Yes,24000
9,10,Joella's Hot Chicken,"Louisville, Ky.",29,35.5,17,30.8%,1930,No,29000
10,11,Eggs Up Grill,"Spartanburg, S.C.",30,35.4,41,36.7%,860,Yes,30000
11,12,Dog Haus,"Pasadena, Calif.",39,34.5,50,42.9%,1200,Yes,39000
12,13,Teriyaki Madness,"Denver, Colo.",41,34.1,63,65.8%,890,Yes,41000
13,14,Bluestone Lane,"New York, N.Y.",48,33.0,48,37.1%,1175,No,48000
14,15,Original ChopShop,"Plano, Texas",21,32.5,12,20.0%,1930,No,21000
15,16,Rapid Fired Pizza,"Kettering, Ohio",24,32.2,35,29.6%,780,Yes,24000
16,17,Ike's Love & Sandwiches,"San Francisco, Calif.",44,30.8,71,29.1%,700,Yes,44000
17,18,Vitality Bowls,"San Ramon, Calif.",37,30.1,77,24.2%,535,Yes,37000
18,19,Hawkers Asian Street Fare,"Orlando, Fla.",22,30.0,7,40.0%,3800,No,22000
19,20,Maple Street Biscuit Co.,"Orange Park, Fla.",39,28.9,33,10.0%,1260,Yes,39000
20,21,Bulla Gastrobar,"Doral, Fla.",32,28.2,8,14.3%,4300,No,32000
21,22,Duck Donuts,"Mechanicsburg, Pa.",44,28.0,90,16.9%,530,Yes,44000
22,23,The Little Beet,"New York, N.Y.",23,26.5,12,33.3%,2230,No,23000
23,24,Joe & The Juice,"New York, N.Y.",47,25.9,69,25.5%,760,Yes,47000
24,25,By Chloe,"New York, N.Y.",37,25.6,14,7.7%,2800,No,37000
25,26,Sugarfire Smokehouse,"Olivette, Mo.",39,25.4,15,15.4%,2820,No,39000
26,27,Bibibop Asian Grill,"Columbus, Ohio",44,24.6,37,23.3%,1330,No,44000
27,28,Bubbakoo's Burritos,"Wall Township, N.J.",28,24.3,31,14.8%,970,Yes,28000
28,29,Dos Toros Taqueria,"New York, N.Y.",28,24.0,22,10.0%,1375,No,28000
29,30,The Pizza Press,"Anaheim, Calif.",27,23.7,27,22.7%,1130,Yes,27000
30,31,The Lost Cajun,"Frisco, Texas",20,23.0,26,4.0%,785,Yes,20000
31,32,Just Salad,"New York, N.Y.",42,22.7,38,26.7%,1240,No,42000
32,33,Jeni's Splendid Ice Creams,"Columbus, Ohio",42,22.4,44,22.2%,1050,No,42000
33,34,Boqueria,"New York, N.Y.",27,22.0,7,16.7%,4260,No,27000
34,35,Quickway Japanese Hibachi,"Fairfax, Va.",22,21.4,25,19.0%,985,Yes,22000
35,36,Surcheros,"Douglas, Ga.",22,21.3,20,17.6%,1230,Yes,22000
36,37,Famous Toastery,"Charlotte, N.C.",40,21.2,27,8.0%,1540,Yes,40000
37,38,Culinary Dropout,"Scottsdale, Ariz.",20,20.8,7,16.7%,3120,No,20000
38,39,Condado Tacos,"Columbus, Ohio",38,19.9,15,15.4%,2755,No,38000
39,40,The Flying Biscuit Cafe,"Atlanta, Ga.",29,19.5,21,16.7%,1510,Yes,29000
40,41,Blue Sushi Sake Grill,"Omaha, Neb.",49,19.5,14,16.7%,3500,No,49000
41,42,The Human Bean,"Medford, Ore.",47,19.0,97,19.8%,535,Yes,47000
42,43,Spitz Mediterranean Street Food,"Los Angeles, Calif.",28,18.8,11,10.0%,2700,No,28000
43,44,Tacos 4 Life,"Conway, Ark.",25,18.4,16,6.7%,1620,Yes,25000
44,45,Pita Mediterranean Street Food,"Fairburn, Ga.",38,17.8,32,10.3%,1260,Yes,38000
45,46,LA Crawfish,"McAllen, Texas",48,17.6,25,13.6%,2050,Yes,48000
46,47,&pizza,"Washington, D.C.",45,17.1,35,9.4%,1350,No,45000
47,48,Super Duper Burgers,"San Francisco, Calif.",39,16.9,16,14.3%,2630,No,39000
48,49,StoneFire Grill,"Agoura Hills, Calif.",31,16.0,13,8.3%,2550,No,31000
49,50,Gus's World Famous Fried Chicken,"Memphis, Tenn.",44,14.4,28,7.7%,1600,Yes,44000

### Then, use `apply()` to apply your function across the columns
>- `axis = 1` tells apply() to work across the columns

In [32]:
lowerizer=lambda x: x.lower()
future['Restaurant'].apply(lowerizer)

0                           evergreens
1                          clean juice
2                             slapfish
3                           clean eatz
4                            pokeworks
5                          playa bowls
6                     the simple greek
7                            melt shop
8                           creamistry
9                 joella's hot chicken
10                       eggs up grill
11                            dog haus
12                    teriyaki madness
13                      bluestone lane
14                   original chopshop
15                   rapid fired pizza
16             ike's love & sandwiches
17                      vitality bowls
18           hawkers asian street fare
19            maple street biscuit co.
20                     bulla gastrobar
21                         duck donuts
22                     the little beet
23                     joe & the juice
24                            by chloe
25                sugarfire smokehouse
26                 bibibop asian grill
27                 bubbakoo's burritos
28                  dos toros taqueria
29                     the pizza press
30                      the lost cajun
31                          just salad
32          jeni's splendid ice creams
33                            boqueria
34           quickway japanese hibachi
35                           surcheros
36                     famous toastery
37                    culinary dropout
38                       condado tacos
39             the flying biscuit cafe
40               blue sushi sake grill
41                      the human bean
42     spitz mediterranean street food
43                        tacos 4 life
44      pita mediterranean street food
45                         la crawfish
46                              &pizza
47                 super duper burgers
48                     stonefire grill
49    gus's world famous fried chicken
Name: Restaurant, dtype: object

# We use `applymap()` to apply functions across every element in a DataFrame

## Square everything in the `Sales` column using `np.square`
>- Check here for other numpy math functions: https://numpy.org/doc/stable/reference/routines.math.html

In [33]:
future[['Sales']].applymap(np.square)

    Sales
0     576
1    1936
2     441
3     625
4    2401
5    1521
6     576
7     400
8     576
9     841
10    900
11   1521
12   1681
13   2304
14    441
15    576
16   1936
17   1369
18    484
19   1521
20   1024
21   1936
22    529
23   2209
24   1369
25   1521
26   1936
27    784
28    784
29    729
30    400
31   1764
32   1764
33    729
34    484
35    484
36   1600
37    400
38   1444
39    841
40   2401
41   2209
42    784
43    625
44   1444
45   2304
46   2025
47   1521
48    961
49   1936

In [1]:
!nbmerge Pandas_Part4_Grouping_TypeAlongCOMPLETED.ipynb Pandas6_CombiningData_TypeAlong.ipynb > merged3.ipynb